<div class="d-flex flex-column align-items-center">
  <h1>The following URL appears to have an issue:</h1>
  <mark class="mt-3 fs-2">{{errURL}}</mark>
  <a class="mt-4 fs-5" href="/">BACK TO HOME</a>
</div>