<form>
  <div class="mb-3 px-5 row justify-content-center">
    <input type="text" class="form-control-lg" id="exampleInputPassword1" placeholder="Input URL Here">
  </div>  
  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="submit" class="btn btn-outline-primary btn-lg">Shorten</button>
  </div>
</form>