<div class="d-flex flex-column align-items-center">
  <h1>Success! Please use this link:</h1>
  <a class="fs-3" href="http://localhost:3000/shorten/Test1">http://localhost:3000/shorten/Test1</a>
  <div class="mt-2 d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-primary btn-lg" type="button">Copy</button>
  </div>
</div>