<div class="d-flex flex-column align-items-center">
  <h1>Success! Please use this link:</h1>
  <a class="fs-3" id="shortURL" href="http://localhost:3000/shorten/{{shortURL}}">http://localhost:3000/shorten/{{shortURL}}</a>
  <div class="mt-2 d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-primary btn-lg" onclick="copyURL()" type="button">Copy</button>
  </div>
  <a class="mt-4 fs-5" href="http://localhost:3000/">HOME</a>
</div>

<script>
  function copyURL() {
    const shortenURL = document.querySelector("#shortURL")
    navigator.clipboard.writeText(shortenURL.innerText)
      .then(() => alert('copied'))
      .catch(error => console.log(error))
  }
</script>